doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Printing Management System
  link(href='https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  script(src='filterHandler.js' defer='')
.min-h-screen.flex.flex-col(class='lg:flex-row')
  // Sidebar
  aside.w-full.bg-blue-600.text-white.flex.flex-col(class='lg:w-64')
    img.w-auto.h-auto.mb-2(src='/img/HCMUT_official_logo.png' alt='Logo')
    .flex.items-center.justify-center.py-4.border-b-2
      h1.text-2xl.font-bold.text-green-500 HCMUT - SSPS
    nav.mt-4.space-y-2.text-xl
      a.flex.items-center.space-x-3.py-2.px-3.rounded(href=`${prefixAdmin}/` class='hover:bg-blue-700')
        span.material-icons home
        span Trang ch&#x1EE7;
      a.flex.items-center.space-x-3.py-2.px-3.rounded(href=`${prefixAdmin}/mng_printer` class='hover:bg-blue-700')
        span.material-icons print
        span Qu&#x1EA3;n l&yacute; m&aacute;y in
      a.flex.items-center.space-x-3.py-2.px-3.rounded(href=`${prefixAdmin}/log` class='hover:bg-blue-700')
        span.material-icons history
        span L&#x1ECB;ch s&#x1EED; d&#x1ECB;ch v&#x1EE5;
      a.flex.items-center.space-x-3.py-2.px-3.rounded(href=`${prefixAdmin}/report` class='hover:bg-blue-700')
        span.material-icons report
        span Xem b&aacute;o c&aacute;o
      a.flex.items-center.space-x-3.py-2.px-3.rounded(href=`${prefixAdmin}/config` class='hover:bg-blue-700')
        span.material-icons settings
        span Chỉnh sửa hệ thống 
  // Main Content
  main.flex-1.bg-gray-100
    // Header
    header.w-full.bg-white.shadow-md.py-4.mb-8
      .container.mx-auto.flex.items-center.justify-between.px-6
        .flex.items-center.space-x-3
          img.w-10.h-10(src='/img/HCMUT_official_logo.png' alt='Logo')
          h1.text-xl.font-bold.text-green-500 HCMUT - SSPS
        .flex.items-center.space-x-4
          button.bg-blue-500.text-white.rounded-full.w-10.h-10.flex.items-center.justify-center
            span.material-icons email
          button.bg-blue-500.text-white.rounded-full.w-10.h-10.flex.items-center.justify-center
            span.material-icons notifications
          a(href=`${prefixAdmin}/profile`)
            button.bg-blue-500.text-white.rounded-full.w-10.h-10.flex.items-center.justify-center
              span.material-icons person
    // Filter Section
    section.mt-6.bg-white.rounded-md.shadow.p-6
      form(
        action=""
        method="GET"
        id="form-apply-filter"
        data-path=`${prefixAdmin}/log`
      )
      .grid.grid-cols-1.gap-6(class='lg:grid-cols-2')
        // Date Range Filter
        div
          h2.font-semibold.text-blue-600.mb-6.text-xl
            | Ch&#x1ECD;n ng&agrave;y
          .flex.justify-between.items-center.mb-6
            // Start Date
            .flex.flex-col
              label.text-gray-700.font-semibold.mb-1(for='startDate') Ng&agrave;y b&#x1EAF;t &dstrok;&#x1EA7;u:
              input#startDate.border.border-gray-300.p-2.rounded-md.w-48(type='date' class='focus:ring-2 focus:ring-blue-500' name='startDate')
            // End Date
            .flex.flex-col
              label.text-gray-700.font-semibold.mb-1(for='endDate') Ng&agrave;y k&#x1EBF;t th&uacute;c:
              input#endDate.border.border-gray-300.p-2.rounded-md.w-48(type='date' class='focus:ring-2 focus:ring-blue-500' name='endDate')
          .mt-6
            .flex.justify-between.items-center.mb-4
              button#prevMonth.p-2.bg-blue-500.text-white.rounded-md(class='hover:bg-blue-600')
                | &lt;
              div
                select#monthSelect.border.border-gray-300.rounded-md.p-2(class='focus:ring-2 focus:ring-blue-500')
                  option(value='0') January
                  option(value='1') February
                  option(value='2') March
                  option(value='3') April
                  option(value='4') May
                  option(value='5') June
                  option(value='6') July
                  option(value='7') August
                  option(value='8') September
                  option(value='9') October
                  option(value='10') November
                  option(value='11') December
                select#yearSelect.border.border-gray-300.rounded-md.p-2(class='focus:ring-2 focus:ring-blue-500')
                  // Years dynamically populated
              button#nextMonth.p-2.bg-blue-500.text-white.rounded-md(class='hover:bg-blue-600')
                | &gt;
            // Calendar Grid
            .grid.grid-cols-7.text-center.font-bold.text-gray-700
              div Sun
              div Mon
              div Tue
              div Wed
              div Thu
              div Fri
              div Sat
            #daysContainer.grid.grid-cols-7.gap-2.mt-4
        // Printer and Student Filters
        div
          h2.font-semibold.text-blue-600.text-xl
            | L&#x1ECD;c theo m&atilde; m&aacute;y in
          .mb-4
            label.block.text-sm.font-semibold.text-gray-700.mb-1(for='printer-location') &Dstrok;&#x1ECB;a &dstrok;i&#x1EC3;m &dstrok;&#x1EB7;t m&aacute;y:
            select#printer-location.w-full.bg-gray-100.text-gray-800.rounded.px-4.py-2(name='printerLocation')
              option Tất cả
              option A1
              option A2
              option A3
              option A4
              option A5 
              option B1
              option B2 
              option B3 
              option B5 
              option B6 
              option B7 
              option B8 
              option B9 
              option B10
              option C1 
              option C2 
              option C3 
              option C4
              option C5 
              option C6
              option C7
              option C9 
              option C10
          // Mã máy in
          .mb-4
            label.block.text-sm.font-semibold.text-gray-700.mb-1(for='printer-id') M&atilde; m&aacute;y in:
            select#printer-id.w-full.bg-gray-100.text-gray-800.rounded.px-4.py-2(name='printerID' required)
              each item, index in printerLocation 
                option(class=`${item['Địa điểm đặt máy']}`) #{item['mã máy in']}
          h2.mt-6.font-semibold.text-blue-600.text-xl
            | L&#x1ECD;c theo m&atilde; sinh vi&ecirc;n
          .mt-4
            input#student-id.border.border-gray-300.rounded-md.p-2.w-full(type='text' placeholder='Tìm kiếm theo mã sinh viên' class='focus:ring-2 focus:ring-blue-500' name='studentID')
      // Action Buttons
      .mt-6.flex.justify-end.space-x-4
        button.py-2.px-4.bg-gray-300.text-gray-800.rounded-md(class='hover:bg-gray-400')
          | H&#x1EE7;y b&#x1ECF;
        button.py-2.px-4.bg-blue-600.text-white.rounded-md(class='hover:bg-blue-700' id='apply')
          | &Aacute;p d&#x1EE5;ng
    // Footer
    footer.w-full.bg-white.shadow-md.py-8.mt-8
      .container.mx-auto.flex.flex-wrap.justify-between.px-6
        // Logo and Title
        .w-full.mb-6.flex.flex-col.items-start(class='md:w-1/3 md:mb-0')
          .flex.items-center.flex-col
            img.h-20.mb-2(src='./img/HCMUT_official_logo.png' alt='Logo')
            h1.text-xl.font-bold.text-green-500 HCMUT - SSPS
        // Categories
        .w-full.mb-6(class='md:w-1/3 md:mb-0')
          h2.text-lg.font-bold.text-gray-700 Danh M&#x1EE5;c
          ul
            li.text-gray-600 Qu&#x1EA3;n l&yacute; m&aacute;y in
            li.text-gray-600 L&#x1ECB;ch s&#x1EED; d&#x1ECB;ch v&#x1EE5;
            li.text-gray-600 Xem b&aacute;o c&aacute;o
        // Contact Information
        .w-full(class='md:w-1/3')
          h2.text-lg.font-bold.text-gray-700 Li&ecirc;n H&#x1EC7;
          p.text-gray-600
            | Address: 268 L&yacute; Th&#x1B0;&#x1EDD;ng Ki&#x1EC7;t, ph&#x1B0;&#x1EDD;ng 14, qu&#x1EAD;n 10, TP.HCM
          p.text-gray-600
            | Phone: (028) 38 651 670 - (028) 38 647 256 (Ext: 5258, 5234)
          p.text-gray-600 Email: ssps@hcmut.edu.vn

script(src='/script/printer_location_admin.js')
script(src='/script/filter_log_admin.js')