mixin notification-success(time) 
    - if (messages.success)
        .message.success
            div(
                class="alert alert-success"
                show-notification 
                data-time=time
            ) #{messages.success} <span close-notification>x</span>

mixin notification-error(time) 
    - if (messages.error)
        .message.error
            div(
                class="alert alert-danger"
                show-notification 
                data-time=time
            ) #{messages.error} <span close-notification>x</span>